
:root{
    --ct-transition:all 0.5s ease-in-out;
}


/* utilities */

.bg-black{
    background-color: black;
}

.ct-color-black{
    color:black !important;
}
.ct-color-white{
    color:white !important;
}

.ct-w100{
    width:100%;
}
.ct-h100{
    height: 100%;
}
.ct-h-5vh{
    height: 5vh;
}

.ct-w150px{
    width:150px;
}

.ct-text-color-white{
    color:white !important;
}

.ct-color-blue{
    color:blue;
}
.ct-color-aqua{
    color:aqua;
}
.ct-color-black{
    color:black !important;
}
.ct-color-lightgrey{
    color:lightslategrey;
}
.ct-rounded-20px{
    border-radius: 20px;
}
.ct-margin-top-115{ 
    margin-top: 115px;
  }




/* contents */


.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    height:70vh;background-position: center;
}

 #ps5-accessories a{
     text-decoration: none;
     filter: opacity(0.5);
     color:black;
     border-bottom:2px solid transparent;
 }
 
 #ps5-accessories a:hover{
    border-bottom:2px solid aqua;
    filter:opacity(1);
}


.ct-new-section{
    height: 60vh;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position:center;
    background-size:cover;
}
 #ct-new-games,
 #ct-new-games a div.card, 
 #ct-new-games a div.card-body, 
 #ct-new-games-container{
    background-color: #1f1f1f;
}

 #ct-new-games a{
     display:inline;
     text-decoration: none;
     color:white;
} 
#ct-ps-plus{
    background-color:#bebcbb;
}

#ct-ps-now{
    background-color: #161c3b;
    color:white;
}

footer{
    background-color:#00439c;
    
}
footer a{
    color:white;
}

#ct-language{
    text-decoration: none;
    
}
#ct-language img{
    width:20px;
    margin-right:10px;
}

footer li{
   
    list-style-type: none;
}

footer ul{
    padding-inline-start:0px;
}

footer a:last-of-type{
    text-decoration:underline;
}

footer a:hover{
    color:lightgrey;
}

/* dropdown menu */
.ct-dropdown-menu {
    position: fixed;
    top: -1000px;
    left: 0;
    margin-top:90;
    
  }

.ct-menu-show:hover .ct-dropdown-menu {
    top: 0px;
  }
.ct-menu-show:focus-within .ct-dropdown-menu{
    top: 0px;
}
  
.chevron{
      content:url(../img/chevron-down-solid.svg);
      width:10px;
      display: inline;
      vertical-align:middle;
}

.ct-menu-show:hover .chevron {
    content:url(../img/chevron-down-solid-hover.svg);
}
.ct-menu-show:focus-within .chevron {
    content:url(../img/chevron-down-solid-hover.svg);
}

.sec-img:hover > div {
    opacity: 0.5;
    transition: var(--ct-transition);
  }

.sec-img:hover > div:hover{
    opacity:1;
    transform: translate(0 , -15px);

}

