

/* utilities */

.bg-black{
    background-color: black;
}

.ct-color-black{
    color:black !important;
}

.ct-w100{
    width:100%;
}
.ct-h100{
    height: 100%;
}

.ct-w150px{
    width:150px;
}

.ct-text-color-white{
    color:white !important;
}
.ct-color-aqua{
    color:aqua;
}
.ct-color-lightgrey{
    color:lightslategrey;
}


/* contents */
.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    height:70vh;background-position: center;
}
.sec-img div img{
    border-radius:20px;
}
 #ps5-accessories a{
     text-decoration: none;
     filter: opacity(0.5);
     color:black;
 }
 
 #ps5-accessories a:hover{
    border-bottom:2px solid aqua;
    filter:opacity(1);
}

.ct-new-section{
    height: 60vh;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position:center;
    background-size:cover;
}
